* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,li {
    list-style: none;
}

button {
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #C99E71;
    color: #fff;
}

button:hover {
    transition: .4s all ease;
    background-color: #c5af98;
}

body {
    background-color: #14110E;
    color: #fff
}

span {
    color: #C99E71;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    font-family: 'Inter',sans-serif;
    background-color:#1C1814;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 33px;
}

.header-logo { 
    padding: 32px 0 0 0;
}

.nav-list {
    position: relative;
    display: flex;
    gap: 48px;
    padding: 32px 0 0 0;
}

.search-logo,.cart-logo {
    position: relative;
    top: -5px;
    right: 0;
}

.introduction {
    background: url(img/Rectangle\ 12.png) center center no-repeat ;
}

.introduction-container {
    display: flex;
    gap: 548px;
    padding: 0 0 0 74px;
    align-items: end;
}

.introduction__feauture {
    max-width: 529px;
}

.introduction-title {
    font-family: 'Righteous',sans-serif;
    font-size: 72px;
    padding: 0 0 32px 0;
    font-weight: 400;
    margin: 147px 0 0 0;
}

.introduction-text {
    font-family: 'Urbanist',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    padding: 0 0 64px 0;
}

.introduction-button {
    padding: 24px 40px;
    margin: 0 0 166px 0;
}

.introduction-image {
    padding: 0 0 158px 0;
}

.about-coffee-container {
    padding: 140px 0 0 74px;
    display: flex;
    gap: 36px;
}

.about-coffee-title {
    font-family: 'Righteous',sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0 0 24px 0;
}

.our-history-subtitle {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.our-history-title {
    font-family: Righteous;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: left;
    margin-bottom: 38px;
}

.our-history-container {
    display: flex;
    padding: 140px 0 0 74px;
    gap: 32px;
}

.our-history-images {
    display: flex;
    gap: 32px;
}

.image {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.our-history-text-block {
    background-color: #1C1814;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 510px;
    width: 100%;
}

.our-history-text {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    align-items: start;
    text-transform: capitalize;
    opacity: 0.8;
}

.text-block {
    max-width: 398px;
    width: 100%;
}

.product-container {
    padding: 140px 0 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
}

.coffee-cost {
    display: flex;
    gap: 36px;
}

.brazil-coffee-rate {
    padding: 48px 48px 36px;
    background-color: #121315;
}

.brazil-coffee {
    padding: 48px 48px 36px;
    background-color: #121315;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.rate {
    display: flex ;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.description {
    margin-right: 9px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-text{
    font-family: 'Righteous',sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    font-family: 'Urbanist',sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 36px 0 20px;
}

.cost {
    position: relative;
    font-family: 'Urbanist',sans-serif;
    font-weight: 600;
}

.cost::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 35px;
    height: 1px;
    opacity: 0,2;
    top: 50%;
    right: 0px;
}

.stars {
    padding: 16px 0 0 0;
}

.product-subtitle {
    font-family: 'Urbanist',sans-serif;
    font-family: '600',sans-serif;
    font-size: 18px;
}

.product-title {
    font-family: 'Righteous',sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 56px;
}

.product-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Urbanist',sans-serif;
}

.product-button2 {
    padding: 20px 36px;
    margin-top: 56px;
    font-weight: 700;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
}

.adv-container {
    background-color: #1C1814;
    padding: 85px 0 84px 75px;
    display: flex;
    justify-content: center;
    gap: 160px;
}

.adv-text-block {
    display: flex;
    gap: 36px;
    flex-direction: column;
    align-items: start;
    max-width: 535px;
}

.adv-title {
    font-family: 'Righteous',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
}

.adv-text {
    font-size: 16px;
    line-height: 28.8px;
    font-family: 'Urbanist',sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.adv-button {
    padding: 20px 36px;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
}


/* MEDIA */

@media only screen and (max-width: 1200px) {

}


@media only screen and (max-width: 992px) {

}


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 552px) {

}